html, body {
	background-color: #F7F7F7;
}

nav.navbar.navbar-default {
	background-color: #48525D;
	height: 60px !important;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#siteLogo {
	color: white;
}

#moviesLink {
	color: white;
}

ul.dropdown-menu {
	background-color: #4B565D;
}

button.btn.background {
	background-color: #F7F7F7;
	color: #828585;
}

button.btn.background:hover {
	background-color: white;
}

button.btn.background.green {
	color:#3DBA63;
}

.green {
	color:#3DBA63;
}